body {
    font-family: 'Nunito', sans-serif;
    background-image: url("static/bg.gif");
    background-size: cover;
    position: absolute;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
}

footer {
    bottom: 15px;
    width: 100%;
    text-align: center;
}

a {
    color: black;
}

h1 {
    font-size: 100px;
    color: #F5F5F5;
    margin-bottom: 0;
}

h2 {
    font-size: 40px;
    color: #F5F5F5;
}

h3 {
    font-size: 20px;
    color: #c5c4c4;
}

p {
    font-size: 15px;
    color: grey;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.introTextContainer {
    max-width: 630px;
    margin-bottom: 20px;
}

.screenshotContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.bannerText {
    max-width: 500px;
}

.finalBannerText {
    max-width: 800px;
    text-align: center;
}

.phone {
    max-height: 650px;
    padding: 40px;
}

.profileScreen {
    max-width: 450px;
}

.logo {
    margin-top: 100px;
    margin-bottom: 45px;
    max-width: 200px;
}

@media screen and (max-width: 575px) {
    

}

@media screen and (max-width: 1000px) {
    

}
